.available-locations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

svg polygon {
    fill: transparent;
    cursor: pointer;
}

svg polygon:hover {
    fill: rgba(55, 217, 232, 0.07);
}

.venue1-button-overlay,
.venue2-button-overlay,
.venue3-button-overlay,
.venue4-button-overlay,
.venue5-button-overlay,
.venue6-button-overlay {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.venue1-button-overlay button,
.venue2-button-overlay button,
.venue3-button-overlay button,
.venue4-button-overlay button,
.venue5-button-overlay button,
.venue6-button-overlay button {
    width: 15vw;
    text-transform: uppercase;
    font-weight: 5vw;
    background-color: #37d8e8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.venue1-button-overlay { top: 45%; left: 15%; transform: translate(-50%, -50%); }
.venue2-button-overlay { top: 25%; left: 35%; transform: translate(-50%, -50%); }
.venue3-button-overlay { top: 40%; left: 55%; transform: translate(-50%, -50%); }
.venue4-button-overlay { top: 25%; left: 65%; transform: translate(-50%, -50%); }
.venue5-button-overlay { top: 30%; left: 80%; transform: translate(-50%, -50%); }
.venue6-button-overlay { top: 65%; left: 75%; transform: translate(-50%, -50%); }